.dish{
    display:flex;
    flex-direction:column;
    gap:0.8rem;
    box-shadow: 1px 2px 3px gray;
    width:250px;
        border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
    
}
.dish-img{
    height:200px;
    width:250px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.dish-info{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding:0 1rem 1rem 1rem;


}
.dish-info>span{
    color:rgb(95, 95, 95);
}